.bigger-text {
	font-size: 120%;
}
.even-bigger-text {
	font-size: 170%;
}
.slide h2.bigger-text {
	font-size: 200px;
}
.smaller-text {
  font-size: 80%;
  line-height: 1.2em;  
}
.slide pre code {
  line-height: 42px;
}
.image-slide a.image-link {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  color: #fff;
  text-indent: -999px;
  width: 1024px;
  height: 640px;
}
.principle {
  background: #FFAF26;
  h2 {
    color: #000;
  }
}
pre {
  font-size: 1.1em;
}

#Cover { 
	h2 {
		margin: 70px 0;
		color: #458414;
		text-align:center;
		font-size: 4em;
		text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	}
	p {
		margin: 0;
		text-align: center;
		color: #1450ae;
		font-size: 2em;
		line-height: 1.3em;
		font: bold 50px/1 "PT Sans Narrow",sans-serif;
		text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	}
	a {
		border-bottom: none;
		color: #458414;
	}
}

#Origin {
  h2 {
    color: #fff;
		text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
  }
}

#Picture {
	h2 {
		color:#FFF;
	}
}


#SeeMore {
	h2 {
		font-size:100px
	}	
	img {
		width:0.72em;
		height:0.72em;
	}
}

.shout-list {
  ul {
    color: #fff; 
    text-align: center; 
    list-style: none; 
    font-size: 250%; 
    line-height: 1.5em; 
    margin-top: 1.1em;
    padding-left: 124px;
  }
  ul > li:before {
    content: none;
  }
}
.borderbox {
  code {
    font-size: 185%;
    margin-top: 4.5em; 
    margin-bottom: 2em;   
    text-align: center;
  }
  a {
    font-size: 50%;
    margin-top: 10em;    
    margin-left: 10em
  }  
}