// Import Compass: http://compass-style.org
@import "compass";

// Import additional mixins
@import "mixins";

// Reset
/* Normalize is loaded first, http://necolas.github.io/normalize.css
   Followed by this CSS */
   
* {
  @include box-sizing(border-box);
}
html {
  font-size: 16px;
  line-height: 1.4em;
  background: #194274;
}


/* ---------- Layout ---------- */

header h1,
article,
footer small {
  width: 90%;
  margin: 0 auto;
}
header {
  padding: 1em 5% 0.8em;
}
article {
  padding-top: 2em;
  padding-bottom: 2em;
  @include clearfix;
}
footer {
  padding: 1em 5%;
}
img {
  width: 100%;
}
dl {
  @include clearfix;
}
dt {
  float: left;
  margin-right: 1em;
  clear: both;
}
dd {
  float: left;
}

@media (min-width: 40em) {
  .main-content {
    width: 70%;
    float: left;
  } 
  dl {
    float: right;
    width: 20%;
    background: #333;
    color: #fff;
    padding: 1em;
    font: 'Trebuchet MS', Helvetica;
  }
  dt {
    float: none;
    margin-right: 0;
    display: inline;
  }
  dd {
    float: none;
    margin-left: 0;
  }
}


/* ---------- Visual Styling ---------- */

header {
  background: #9d4911;
  text-align: center; 
  color: #fff;
}
div[role=main] {
  background: #fff;
  a {
    text-decoration: none;
    color: #9d4911;
  }
}
footer {
  text-align: center;
  a {
    color: #fff;
  }
}
header h1 {
  font-size: 1.5em;
  line-height: 1.2em;
}
p {
  font-family: georgia;
  line-height: 1.4em;
}
dl {
  font-family: georgia;  
}


